
.views-row {
  float: left;
  margin: 10px 10px;
  width: 375px;
}

.page-livingstone-online .view-display-id-attachment_1 .views-row,
.page-livingstone-online .views-row img{
    border: 3px solid #99cc99; 
}
.page-his-own-words .view-display-id-attachment_1 .views-row,
.page-his-own-words .views-row img{
    border: 3px solid #ffcc33; 
}
.page-our-technology .view-display-id-attachment_1 .views-row,
.page-our-technology .views-row img{
    border: 3px solid #a48bc2; 
}
.page-behind-the-scenes .view-display-id-attachment_1 .views-row,
.page-behind-the-scenes .views-row img{
    border: 3px solid #99ccff; 
}
.page-life-and-times .view-display-id-attachment_1 .views-row,
.page-life-and-times .views-row img{
    border: 3px solid #cc9999; 
}
.page-resources .view-display-id-attachment_1 .views-row,
.page-resources .views-row img{
    border: 3px solid #cccc99; 
}

.view-display-id-attachment_1 .views-row {
	background: #eee;
	border: 1px solid #ccc;
	display: table;
	height: 350px;
	padding: 20px;
}
.view-display-id-attachment_1 .views-field-nothing  {
	display: table-cell;
	text-align: center;	
	vertical-align: middle;	
}