
// ----------------------------------
// /* !Main Page styles */
// ----------------------------------

.l-header-sub, .l-main, .l-footer {
	max-width: 1200px;
	margin: auto;
//	border: solid 1px #aaa;
}

html {
	background-color: $c_bg_html;
}

.l-main {
	background-color: $c_bg_page;
	overflow: auto;
	
}

.l-header {
	border-bottom: $sc_accent 5px solid;
}

.l-header-sub, .l-main {
	padding: 0 $main_padding 0 $main_padding;
}

.l-content {
  margin: 0 (-$main_padding); 
  padding: $main_padding/2 $main_padding;
  background: $c_bg_content;
  overflow: auto;
  
}



// ----------------------------------
// /* !Header */
// ----------------------------------

.l-header {
	background-color: $c_bg_header;
	width: 100%;
	overflow: auto;
}
.l-header-sub {
//	padding: 0 $main_padding;
	overflow: auto;
	background-color: $c_bg_header_sub;
}

.l-header h1 {
	background-color: $c_bg_header_h1;
	margin: 0;
	line-height: 1em;
	width: 100%;
}

.l-header h1 a {
	color: $c_txt_header_main;
}

.l-header h2 {
	line-height: 1.1em;
	color: $c_txt_header_sub;
	line-height: 1.4em;
}

.l-region--header {
	overflow: auto;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.block--search {
	margin-top: $main_padding;
	float: right;
}

.block--search input {
	font-size: .8em;
	

}

.block--search input.form-text {
	width:10em;
}

.block--block-2 { //advanced search text block
	font-size: .8em;
	margin-top: .8em;
	float: right;
    clear: right;
	
	p {
		padding: 0;
		margin: -.5em 0 0 0;
	}
	
	a {
		color: $c_txt_link_search;
		text-decoration: none;
		font-weight: 100;
	letter-spacing: .1em;
	}
}

  .block--block-3 { //Contact Us link block
    display: block;
    float: right;
    padding-right: 1.5em;
    margin-top: .8em;
    
    p {
    	padding: 0;
		margin: 0;
    }
}

.block--block-3 a {
	color: $c_txt_link_search;
	text-decoration: none;
	background-color: $c_bg_nav_item;
	@include border-radius (12px);
	padding:2px 8px;
	border: $sc_b_3 dotted 1px;
	color: $c_txt_link_nav;
	font-size: .9em;
	font-weight: 100;
	letter-spacing: .1em;
  }

// Advanced Search Link
.block--block-2 
.l-branding {
	background-color: $c_bg_branding;
	margin-top: $main_padding/2;
}

// ----------------------------------
// /* !Navigation */
// ----------------------------------


.l-region-navigation {
	width: 100%;
	
}
.l-region--navigation .menu {
	list-style-type: none;
	background-color: $c_bg_nav;
	padding: 0 $main_padding 0 $main_padding;
	margin-left: (-$main_padding);
	margin-right: (-$main_padding);
	text-align: center;
	width: 100%;
	clear: both;
}

.l-region--navigation .menu li {
	background-color: $c_bg_nav_item;
	padding: .4em .6em; 
	display: inline-block;
	margin: 0 .8em .5em .8em;
    border: 1px dotted $sc_b_3;
    font-size: .9em;
    font-weight: 100;
    letter-spacing: .1em;
} 

.l-region--navigation .menu li  a {
	color: $c_txt_link_nav;
	text-decoration: none;
}

li.active-trail {
	background-color: #d31b29 !important;
}


// ----------------------------------
// /* !Sidebar First/Subnavigation */
// ----------------------------------

.l-region--sidebar-first,
.l-region--sidebar-second {
	background-color: $c_bg_subnav_mobile;
	margin: 0 (-$main_padding) 0 (-$main_padding); 
	padding: $main_padding/2 $main_padding;
}

.l-region--sidebar-first ul {
	padding: 0;
	margin: 0;
	list-style-type: none;	
}

.l-region--sidebar-first li {
	display: inline-block;
	padding: .2em .4em;
	background-color: magenta;
	margin: 0 .2em .2em 0;
	background-color: $c_bg_subnav_item;
}

.l-region--sidebar-first a,
.l-region--sidebar-second a {
	text-decoration: none;
	color: $c_txt_headers;
}

//The following two are a kind of kludge until we figure out how to create the subsections dynamically -kmd
.l-region--sidebar-first a img,
 {
	display: none;
}

.l-region--sidebar-first a span,
 {
	display: none;
}

.l-region--sidebar-first li h3,
 {
	@include font_body;
	font-size: 1em;
    margin: 0;
    line-height: 1.4; 
}

.l-region--sidebar-first li:hover {
	background-color: $sc_b_4;
}

// ----------------------------------
// /* !Footer */
// ----------------------------------


.l-footer {
  background-color: $c_bg_footer;
  color: $c_txt_footer;
  overflow: auto;
  padding-bottom: 20em;
}

.l-footer .block {
  padding: $main_padding/3 $main_padding $main_padding $main_padding;
  display: inline-block;
}

.l-footer h2 {
  color: $c_txt_footer_head;
}






