// ----------------------------------
// /* !Modules */
// ----------------------------------

/* illustrations */

.illustration {
  padding: 0 .5em;
  border: 1px solid $c_bord_illustration;
  width: 220px;
  text-align: center;
  @include font_body;
  font-size: .8em
}

.illustration .l-header {
	margin: 0;
	padding: 0;
}

.illustration h2 {
	margin: -1em 0 0 0;
	padding: 0;
	@include font_body;
	font-weight: normal;
	font-size: 1em;
}

.illustration h2 a {
	text-decoration: none;
}

.illustration .field__label {
	display: none;
}


