// ----------------------------------
// /* !Generic classes for reuse */ 
// ----------------------------------

.alignright {
  float: right;
  clear: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

.alignleft {
  float: left;
  clear: left;
  margin-right: 1em;
  margin-bottom: 1em;
}