// ----------------------------------
// /* !Typography */
// ----------------------------------

html {
	@include font_default_settings;
	@include font_body;
	color: $c_txt_body;
}

.l-header h1 {
	@include font_main;
}

.l-header h1 a {
	text-decoration: none;
}

.l-header h2 {
	@include font_sub;
}

h1, h2, h3, h4, h5, h6 {
	@include font_headers;
	color: $c_txt_headers;
}

a {
	color: $c_txt_link;
}

a:hover {
	color: $c_txt_link_h;
}

a:visited {
	color: $c_txt_link_v;
}

h1 {
	font-size: 1.3em;
	line-height: 1.1em;
}

h2 {
	font-size: 1.2em;
	line-height: 1.1em;
}

h3 {
	font-size: 1.1em;
	line-height: 1.1em;
}

//Following headers same per adrian's request
h4 {
	font-size: 1em;
	line-height: 1.1em;
}

h5 {
	font-size: 1em;
	line-height: 1.1em;
}

h6 {
	font-size: 1em;
	line-height: 1.1em;
}