
// ----------------------------------
// /* !-Media BIG */ min 1024
// ----------------------------------

@media only screen and (min-width: 1024px) { 

html {
//	background: url(../images/map_bg.jpg) repeat scroll;
}
//Main
//Typography
//Header

.l-region--header {
	float: right;
}

.l-branding {
	float: left;
	font-size: 1.3em;
	margin-top: .8em;
	width: 55%
}

//Navigation


//Sidebar First/Subnavigation

.two_sidebars .l-region--sidebar-first,
.sidebar_first .l-region--sidebar-first,
.two_sidebars .l-region--sidebar-second,
.sidebar_second .l-region--sidebar-second {
    float: left;
    width: 25%;
    font-size: .8em;
}
  
.two_sidebars .l-content,
.sidebar_first .l-content {
    float: right;
    width: 60%;
    margin: 0 7% 0 0;
}

.l-region--sidebar-first, 
.l-region--sidebar-second {
    background: $c_bg_subnav_desktop;
	margin: $main_padding/2 0 $main_padding 0;
	padding: 0;
}

.l-region--sidebar-first .block,
.l-region--sidebar-second .block {
    border: solid 1px $c_bord_subnav;
	padding: 1em;
}

.l-region--sidebar-first h2,
.l-region--sidebar-second h2 {
    margin-top: 0;
	border-bottom: solid 1px $c_bord_subnav_h2;
}

.l-region--sidebar-first li,
.l-region--sidebar-second li {
    display: block;
}

//Footer
//Modules

.l-content .subpage-list li {
	 width: 33%;
}

.l-content .subpage-list li a {
	padding: .75em;
	margin: .75em;
}

.l-content .subpage-list li a:hover {
	background-color: #f4f0e8;
}

//Pages
	
} 


// ----------------------------------
// /* !-Media SMALL */ max 1023
// ----------------------------------

@media only screen and (max-width: 1023px) {

//Main

html {
	font-size: .9em;
}



//Typography
//Header

//Navigation

//Sidebar First/Subnavigation

.l-region--sidebar-first h2 {
  display: none;
}

.l-header h2 {
	font-size: 1.3em
}

.l-region--sidebar-first li,
.l-region--sidebar-second li {
	font-size: .8em;
	margin-bottom: .3em
}

//Footer
//Modules
//Pages

}


