//may later split into separate files

// ----------------------------------
// /* !Site Color Definitions */
// ----------------------------------

$sc_accent:    #d12423; //red

$sc_a_1:       #000;    //black
$sc_a_2:       #2f2c28; //dark brown
$sc_a_3:       #282828; //dark gray
$sc_a_4:       #3f525b; //steel blue

$sc_b_1:       #fff;    //white
$sc_b_2:       #f0f0e0; //beige
$sc_b_3:       #7c756b; //lighter gray
$sc_b_4:       #e1d4c0; //darker beige

// ----------------------------------
// /* !Color Application */
// ----------------------------------

//basic text and links
$c_txt_headers:            $sc_a_4; //h1, h2, h3 etc
$c_txt_body:               $sc_a_1;
$c_txt_link:               $sc_accent;
$c_txt_link_v:             darken( $sc_accent, 30% );
$c_txt_link_h:             lighten( $sc_a_4, 20% );

//main content
$c_bg_html:                $sc_b_1;
  $c_bg_body:              none;
    $c_bg_content:         none;
      $c_bg_page:          $sc_b_1;

//header and navigation
$c_bg_header:              $sc_a_3;
$c_bg_header_sub:          none;

  $c_txt_link_search:      $sc_b_2;

   $c_bg_branding:         none;
    $c_bg_header_h1:       none;
      $c_txt_header_main:  $sc_accent;
      $c_txt_header_sub:   $sc_b_1;

  $c_bg_nav:               none;
  $c_bg_nav_mobile:	       rgba($sc_a_4,.7);  
    $c_bg_nav_item:        $sc_a_2;
      $c_txt_link_nav:     $sc_b_2;

  $c_bg_subnav_desktop:    none;
  $c_bg_subnav_mobile:     $sc_b_3;
    $c_bg_subnav_item:     $sc_b_2;
      $c_txt_link_subnav:  $sc_b_2; 

//footer
$c_bg_footer:              $sc_a_3;
  $c_txt_footer_head:      $sc_b_1;
  $c_txt_footer:           $sc_b_1;

//borders
$c_bord_subnav:            $sc_b_3;
$c_bord_subnav_h2:         $sc_b_3;
$c_bord_illustration:      $sc_b_3;
$c_bord_gallery_item:      $sc_b_3;


// ----------------------------------
// /* !Typography */
// ----------------------------------

@mixin font_default_settings {
	font-size: 1.2em;
	line-height: 1.4em;
}

@mixin font_main {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 2.7em;
	font-weight: 700;
}

@mixin font_sub {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 1em;
}

@mixin font_headers {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

@mixin font_body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	}

// ----------------------------------
// /* !Margins and Page Widths */
// ----------------------------------

$main_padding: 1.5em; //for page, header, footer contnet







// Legacy support.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;

